<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- 表单头部 -->
                <div class="box-header with-border">
                    <div class="btn-group">
                        <a class="btn flat btn-sm btn-default BackButton">
                            <i class="fa fa-arrow-left"></i>
                            返回
                        </a>
                    </div>
                </div>
                <form id="dataForm" class="form-horizontal dataForm" action="/admin/people/create" method="post"
                      enctype="multipart/form-data">
                    <div class="box-body">

                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">人员名称</label>
                            <div class="col-sm-10 col-md-4">
                                <input maxlength="50" class="form-control" id="name" placeholder="请输入人员名称" name="name" value="">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="family_id" class="col-sm-2 control-label">所属家庭</label>
                            <div class="col-sm-10 col-md-4">
                                <select name="family_id" id="family_id" class="form-control field-select"
                                        data-placeholder="请选择人员家庭">
                                    <option value=""></option>
                                    {{range $key,$item := .familyList}}
                                        <option value="{{$item.Id}}">
                                            {{$item.Name}}
                                        </option>
                                    {{end}}
                                </select>
                            </div>
                        </div>
                        <script>
                            $('#family_id').select2();
                        </script>

                        <div class="form-group">
                            <label for="sex" class="col-sm-2 control-label">性别</label>
                            <div class="col-sm-10 col-md-4">
                                <select name="sex" id="sex" class="form-control field-select"
                                        data-placeholder="请选择性别">
                                    <option value="男">男</option>
                                    <option value="女">女</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="mobile" class="col-sm-2 control-label">手机号</label>
                            <div class="col-sm-10 col-md-4">
                                <input maxlength="50" id="mobile" autocomplete="off" name="mobile"
                                       value="" class="form-control" placeholder="请输入人数">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_card" class="col-sm-2 control-label">身份证号</label>
                            <div class="col-sm-10 col-md-4">
                                <input maxlength="50" id="id_card" autocomplete="off" name="id_card"
                                       value="" class="form-control" placeholder="请输入身份证号">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="social_card" class="col-sm-2 control-label">社保卡号</label>
                            <div class="col-sm-10 col-md-4">
                                <input maxlength="50" id="social_card" autocomplete="off" name="social_card"
                                       value="" class="form-control" placeholder="请输入社保卡号">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="address" class="col-sm-2 control-label">详细地址</label>
                            <div class="col-sm-10 col-md-4">
                                <textarea maxlength="50" id="address" autocomplete="off" name="address"
                                       value="" class="form-control" placeholder="请输入详细地址"></textarea>
                            </div>
                        </div>


                        <script>
                            $('#status').bootstrapSwitch({
                                onText: "是",
                                offText: "否",
                                onColor: "success",
                                offColor: "danger",
                                onSwitchChange: function (event, state) {
                                    $(event.target).closest('.bootstrap-switch').next().val(state ? '1' : '0').change();
                                }
                            });
                        </script>
                    </div>

                    <!--表单底部-->
                    <div class="box-footer">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-10 col-md-4">
                            <div class="btn-group pull-right">
                                <label class="createContinue">
                                    <input type="checkbox" value="1" id="_create" name="_create"
                                           title="继续添加数据">继续添加</label>
                            </div>
                            <div class="btn-group">
                                <button type="submit" class="btn flat btn-info dataFormSubmit">
                                    保存
                                </button>
                            </div>
                            <div class="btn-group">
                                <button type="reset" class="btn flat btn-default dataFormReset">
                                    重置
                                </button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</section>

<script>
    $("#dataForm").validate({
        rules: {
            name: {
                required: true,
                minlength: 2
            },
            family_id: {
                required: true,
                minlength: 1
            },
        },
        messages: {
            name: {
                required: "请输入人员名称",
                minlength: "人员名称不能小于 2"
            },
            family_id: {
                required: "请选择所属家庭",
            },
        },

    });
</script>

